/* У меня разрешение жкрана сильео отличаеться от разрешения макета. Пока нет адаптивности - делал на глаз*/


/* Дальше идёть прелоадер собранный с двух сайтов и отредактированный мной */
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;

  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    
    background: #0a3166;
    
    transform: rotate(45deg);
  }

  .lds-roller div:after {
    top: 100px;
    left: 100px;
    border-radius: 10%;
  }

  .lds-roller div:nth-child(1) {
    animation-delay: -0.2s;
  }
 
  .lds-roller div:nth-child(2) {
    animation-delay: -0.2s;
  }
 
  .lds-roller div:nth-child(3) {
    animation-delay: -0.3s;
  }
 
  .lds-roller div:nth-child(4) {
    animation-delay: -0.4s;
  }
  
  .lds-roller div:nth-child(5) {
    animation-delay: -0.5s;
  }
  
  .lds-roller div:nth-child(6) {
    animation-delay: -0.6s;
  }
  
  .lds-roller div:nth-child(7) {
    animation-delay: -0.7s;
  }
  
  .lds-roller div:nth-child(8) {
    animation-delay: -0.8s;
  }

  .lds-roller div:nth-child(9) {
    animation-delay: -0.9s;
  }

  .lds-roller div:nth-child(10) {
    animation-delay: -1s;
  }
  @keyframes lds-roller {
    0% {
        border-radius: 0%;
      transform: rotate(0deg);
    }
    100% {
        border-radius: 50%;
      transform: rotate(-360deg);
    }
  }  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }  



body{
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    display: inline-block;
    border: 3px solid #d1dcee;
    border-radius: 5px;
    color:  #d1dcee;
    padding: 12px 16px 12px 16px;
    font-weight: bold;
    transform: scale(1);
    transition: all 0.2s;
}

.button:visited{
    color:  #d1dcee;
}

.button:hover{
    border-color: #15263d;
    color: #15263d;
}

.button:active{
    transform: scale(1.2);
    
}


.block{
    padding-top: 110px;
    text-align: center;
}

.title{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;

}

.stick{
    margin: auto;
    border-bottom: 4px solid #EB7800;
    width: 70px;
    

}

.stick-animation {
    animation: wipe-enter 1s 0.5s forwards;
    opacity: 0;
  }
  @keyframes wipe-enter {
    0% {
        opacity: 0;
        transform: scale(0, 1)
    }
    100% {
        opacity: 1;
        transform: scale(1, 1)
    }
  }


.header, .header_space{
    width: 100%;
    height: 60px;
    background: #15263d;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
}

.header{
    position:fixed;
    z-index: 1;
}

.header__logo{
    font-size: 23px;
    margin-left: 388px;
    color: white;
    float: left;
}

.header__logo a:hover{
    animation: change-color 5s 5s infinite;
    color:  #EB7800
  }
  @keyframes change-color {
    0% {
        color: red;
        
    }

    14% {
        color: orange;
    }

    28%{
        color: yellow;
    }

    43%{
        color: green;
    }

    57%{
        color:lightblue;
    }

    71%{
        color: darkblue;
    }

    86% {
        color: purple;
    }

    100%{
        color: red;
    }
  }


.header__menu{
    font-size: 14px;
    float: right;
    margin-right: 432px;
}

.header__li{
    float: left;
    margin-left: 36px;
}

.header__button{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;    
    color: white;
    transition: all 0.5s;
    transform: scale(1);
}
.header__button:visited{
    color:  white;
}

.header__button:hover{
    color:  #EB7800;
}

.header__button:active{
    transition: all 0.1s;
    transform: scale(1.2);
}





.main{
    background: url(../img/bardcolor.png) calc(100% + 150px) top/auto no-repeat, url(../img/main_bg.png) center/cover no-repeat;
    
    height: 100vh;
}

.main__main{
    display: inline-block;
    position:absolute;
    text-align: center;
    left: 200px;
    bottom: 150px;
    /* border: 4px solid red; */
}

.main__title{
    color: #94b0da;
    font-size: 60px;
    font-weight: bold;
}

.main__text{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color:  #d1dcee;
}

.main__buttons{
    margin-top: 50px;
    /* margin-bottom: 100px; */
}

.main__button{
    margin: 0 14px 0 14px;
    transform: scale(1);
}

.main__button:hover{
    /* Картинка на фоне имеет темные элементы
    шрифт, перед этими элементами, становиться не читаемым
    Добовляю фон кнопки что бы исправить это
    Цвет совпадает с цветом картинки */
    background-color: #5971aa83;
}



.about{
    /* min-height: 70.6%; */
    background: white;
    box-shadow: 0px -20px 20px #00000069;
}

.about__avatar{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 22px;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: grayscale(100);
    background: url(../img/bardcolor.png) center top+30px  no-repeat, #eff0f4;
    background-size: 280px;
}
.about__text{
    margin: auto;
    margin-bottom: 34px;
    width: 747px;
    text-align: left;
}

.about__buttons{
    height: 97px;
}

.about__button{
    margin-bottom: 97px;
 color: #6f707e;
    border-color:#6f707e;
}


.about__button:hover .download_ico{
    filter: invert(0.15);
}
.download_ico{
    width: 16px;
    filter: invert(0.45);
    transition-duration: 0.2s;
}




.iCan{
    background: url(../img/iCan_bg.png) center/cover no-repeat;
    padding: 0;
}

.iCan__list{
    display:block;
    margin-top: 55px;
}

.iCan__element{
    display: inline-block;
    width: 215px;
    margin-bottom: 90px;
}

.iCan-anim{
    animation: iCan-enter 1s 0.5s forwards;
    opacity: 0;
    /* использование маргина вызовет проблему с изменением ширины iCan блока,
    но эта проблема выгляди красиво, благодаря фону (он подстраиваеть под изменения ширины) */
    margin-top: 100px;
}
@keyframes iCan-enter {
  0% {
      opacity: 0;
      margin-top: 100px;
  }
  100% {
      opacity: 1;
      margin-top: 0px;
  }
}

.iCan__img{
    width: 53px;
}

.iCan_title{
    margin-top: 20px;
    margin-bottom: 20px;
    color:#EB7800;
    font-size: 18px;
}

.iCan__info{
    color: #3f495a;
    
}




.cases__text{
    margin-top: 36px;
    margin-bottom: 40px;
}


.case{
    width: 1170px;
    margin: 0 auto 0 auto;
}

.case_block{
    margin-top: 40px;
    margin-bottom: 25px;
    
    text-align: left;
    color: #3f495a;
}

.block_left, .block_right{
    display: inline-block;
    
}

.block_left{
    width: 200px;
}

.block_right{
    width: 880px;
    margin-left: 45px;
    vertical-align: top;
}

.case__title{
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 17px;
}

.case__text{
    font-size: 15px;
    margin-bottom: 14px;
}

.visit{
    display: block;
    text-align: left;
    margin-left: 0px;
}

.visit_button{
    border-color: #00B6AF;
    background-color: #00B6AF;
    font-size: 21px;
    color: white;
    text-transform: uppercase;
    padding: 12px 51px 12px 51px;
}




.calculation_form{
    width: 890px;
    display: block;
    margin: 0 auto 0 auto;
    text-align: left;
    color: #1c2534;
}

.list{
    width: 100%;
    height: 60px;
    padding: 0 24px 0px 24px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    color: #737373;
}

.form_title{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.calculation__stick{
    border-bottom: 2px solid #d1d1d1;
    width: 890px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.right_calc{
    float:right
}

.calc_endText{
    font-size: 19px;
}

.calc_time{
    margin-bottom: 20px;
}

.calc_price{
    margin-bottom: 150px;
}



.statistics{
    background: url(../img/statistics_bg.png) center/cover no-repeat;
    background-attachment: fixed;
}

.statistics_list{
    display: inline-block;
    margin: 0 auto 100px auto;
    
}

.statistics_icon{
    width: 60px;
    margin: 0 127px 0 127px;
    filter: hue-rotate(36deg) brightness(4);
}

.statistics_icon_trophy{
    filter: hue-rotate(-20deg) saturate(2);
}

.statistic_item{
    float:left;
    color: #323e4f;
}

.stat_number{
    margin: 30px 0 30px 0;
    font-size: 30px;
    font-weight: bold;
}

.stat_text{
    font-size: 16px;
}

.statistics__stick{
    margin-bottom: 40px;
}







.reviews_container{
    margin-top: 60;
}

.reviews__stick{
    margin-bottom: 30px;
}

.review_img{
    width: 100px;
    border: #0000;
    border-radius: 50px;
    background-color: lightgray;
    margin-bottom: 35px;
}

.review_text{
    margin-bottom: 30px;
}
.review_title{
    margin-bottom: 50px;
}

.tipo_slider{
    width: 110px;
    border-bottom: 10px dotted #EB7800;
    margin-bottom: 90px;
}



.contacts{
    background: url(../img/contacts_bg.png) center/cover no-repeat;
    /* На картинке из макета нарисованны значки. Нашёл оригинал картинки без значков. 
    В паинте ресайзнул и перекрасил с использованием сепии (ориг черно-белый) */
    color: white;
    
}

.contacts__stick{
    margin-bottom: 30px;
}

.contacts__text{
    margin-bottom: 48px;
}

.contacts_container{
    color: white;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 40px;

}

.contact_ico{
    width: 30px;
    filter: brightness(0) invert();
}

.contact{
    display: inline-block;
    margin:  0 110px 0 110px;
    vertical-align: top;
}

.send_msg{
    font-size: 21px;
    margin-bottom: 45px;
    text-transform: uppercase;
}



.form{
    width: 735px;
    margin: auto;
    padding: 0px;
}

.form_name{
    padding-left: 13px;
    width: 355px;
    height: 35px;
    float: left;
    margin-bottom: 15px;
}

.form_email{
    padding-left: 13px;
    width: 355px;
    height: 35px;
    float: right;    
    margin-bottom: 15px;
}

.textarea{
    padding-left: 13px;
    padding-top: 10px;
    width: 100%;
    height: 95px;
    margin-bottom: 30px;
}

.send_message{
    text-align: center;
    line-height: 0px;
    background: transparent;
    margin-bottom: 75px;
}

.social_links{
    padding-bottom: 65px;
}

.link{
    display: inline-block;
    margin: 0 25px 0 25px;
    transition-duration: 0.1s;
}

.link:hover{
    transform: rotate(10deg);

}

.map{
    padding-top: 0;
}

footer{
    display: block;
    height: 95px;
    background-color: #354051;
    color: white;
    font-size: 16px;
}
.footer_text{
    text-align: center;
    line-height: 95px;
}

